@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(fonts/Poppins.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(fonts/Montserrat.ttf) format("truetype");
}
